.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.col:not(.no-top-margin) {
    margin-top: 1em;
}

.row:not(.no-bottom-margin):last-of-type {
  margin-bottom:1em;
}

.dice-roller span.badge {
  padding-bottom: 5px;
  padding-top: 5px;
}

.dice-roller span.badge:hover {
  opacity:0.8
}

.dice-roller span.badge:active {
  opacity:0.6
}

[data-toggle="tooltip"] {
    padding-bottom: 2px;
    border-bottom: 1px dashed #c0392b;
}

h2 .subheading {
  font-size: 0.4em;
}

span.damage-notation {
  font-weight: bold;
}

span.damage-notation.d4 { color: #16a085; }
span.damage-notation.d6 { color: #f39c12; }
span.damage-notation.d8 { color: #2980b9; }
span.damage-notation.d10 { color: #c0392b; }
span.damage-notation.d12 { color: #8e44ad; }

footer span {
  font-size: 0.8em;
}

table.order-of-operations{
  table-layout: fixed;
    width: 70%;
    text-align: center;
    margin-left: 15%;
}

table.wide-first-col thead tr th:first-child,
table.wide-first-col tbody tr td:first-child {
  width: 75%;
  word-break: break-all;
}

table.wide-first-col tr th:first-child,
table.wide-first-col tr td:first-child {
  width: 75%;
  word-break: break-all;
}

.old-npc-list-wrapper {
  max-height: 16em;
  overflow-y: scroll;
}

.old-npc-list-wrapper li.list-group-item {
  cursor: pointer
}

.old-npc-list-wrapper li.list-group-item:hover {
  background-color:#eee;
}

.old-npc-list-wrapper li.list-group-item i {
  display: none;
}

.old-npc-list-wrapper li.list-group-item:hover i {
  display: inline-block;
}

#collapse-npc-generation li i {
  display: none;
  opacity: 0.5;
}

#collapse-npc-generation li:hover i {
  /* display: inline; */
}

#collapse-npc-generation li:hover i:hover {
  /* opacity: 1; */
}

#collapse-npc-generation li:hover i.fa-minus-square:hover {
  color: #c0392b;
}

.npc-button {
  display: none;
}